.to-export {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.to-export .v-to-export {
  background-color: #000000;
  height: 1017px;
  width: 1728px;
}

.to-export .group {
  height: 853px;
  left: 119px;
  position: relative;
  top: 22px;
  width: 1490px;
}

.to-export .frame {
  height: 35px;
  left: 346px;
  position: absolute;
  top: 0;
  width: 1143px;
}

.to-export .search {
  align-items: flex-start;
  display: inline-flex;
  gap: 14.04px;
  position: relative;
}

.to-export .search-bar {
  align-items: flex-start;
  border: 0.88px solid;
  border-color: #b0b0b0;
  border-radius: 26.33px;
  display: flex;
  flex-direction: column;
  gap: 8.78px;
  padding: 8.78px 14.04px;
  position: relative;
  width: 1067.92px;
}

.to-export .label-presets {
  color: #f9f9f9;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 17.3px;
  margin-top: -0.88px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.to-export .search-cta {
  align-items: center;
  background-color: #76d191;
  border-radius: 3.51px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8.78px;
  height: 35.1px;
  justify-content: center;
  overflow: hidden;
  padding: 5.27px 14.04px;
  position: relative;
}

.to-export .text-wrapper {
  color: #f9f9f9;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 17.3px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.to-export .group-wrapper {
  height: 93px;
  left: 0;
  position: absolute;
  top: 0;
  width: 332px;
}

.to-export .left-tab-wrapper {
  height: 93px;
}

.to-export .left-tab {
  background-color: #262730;
  border-radius: 10.53px;
  height: 93px;
  overflow: hidden;
  position: relative;
  width: 332px;
}

.to-export .div {
  align-items: center;
  display: inline-flex;
  gap: 12.29px;
  left: 18px;
  position: absolute;
  top: 18px;
}

.to-export .icon-instance-node {
  height: 21.06px !important;
  position: relative !important;
  width: 21.06px !important;
}

.to-export .text-wrapper-2 {
  color: #c0c0c0;
  font-family: "Inter", Helvetica;
  font-size: 17.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.85px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.to-export .cohorts {
  align-items: center;
  display: inline-flex;
  gap: 12.29px;
  left: 18px;
  position: absolute;
  top: 54px;
}

.to-export .frame-2 {
  background-color: #262730;
  border-radius: 10.53px;
  height: 124px;
  left: 346px;
  position: absolute;
  top: 49px;
  width: 1144px;
}

.to-export .ellipse {
  background-color: #d9d9d9;
  border-radius: 8.78px;
  height: 18px;
  left: 18px;
  position: absolute;
  top: 18px;
  width: 18px;
}

.to-export .label-presets-2 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 18px;
  left: 42px;
  letter-spacing: 0;
  line-height: 17.6px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.to-export .group-2 {
  height: 18px;
  left: 883px;
  position: absolute;
  top: 18px;
  width: 112px;
}

.to-export .label-presets-3 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 13px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 2px;
}

.to-export .overlap-group-wrapper {
  height: 18px;
  left: 92px;
  position: absolute;
  top: 0;
  width: 20px;
}

.to-export .overlap-group {
  background-color: #000000;
  border: 0.88px solid;
  border-color: #7ec877;
  border-radius: 8.78px;
  height: 18px;
  position: relative;
  width: 18px;
}

.to-export .label-presets-4 {
  color: var(--green);
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
}

.to-export .group-3 {
  height: 18px;
  left: 1028px;
  position: absolute;
  top: 18px;
  width: 103px;
}

.to-export .label-presets-5 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0;
}

.to-export .text-wrapper-3 {
  color: var(--green);
  font-family: "Source Code Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 500;
  height: 13px;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 2px;
}

.to-export .overlap-wrapper {
  height: 58px;
  left: 18px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .overlap {
  border-radius: 10.53px;
  height: 58px;
  position: relative;
  width: 140px;
}

.to-export .label-presets-6 {
  color: #f9f9f9;
  font-family: "Inter", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 13px;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.to-export .text-wrapper-4 {
  color: #f9f9f9;
  font-family: "Inter", Helvetica;
  font-size: 12.3px;
  font-weight: 600;
  height: 15px;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 31px;
}

.to-export .text-wrapper-5 {
  color: #ff4c4c;
  font-family: "Inter", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 13px;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 32px;
}

.to-export .rectangle {
  border: 0.88px solid;
  border-color: #ffffff;
  border-radius: 10.53px;
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 140px;
}

.to-export .div-wrapper {
  height: 58px;
  left: 179px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .group-4 {
  height: 58px;
  left: 340px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .group-5 {
  height: 58px;
  left: 502px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .group-6 {
  height: 58px;
  left: 663px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .group-7 {
  height: 58px;
  left: 825px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .group-8 {
  height: 58px;
  left: 986px;
  position: absolute;
  top: 49px;
  width: 146px;
}

.to-export .frame-wrapper {
  height: 666px;
  left: 346px;
  position: absolute;
  top: 187px;
  width: 1144px;
}

.to-export .frame-3 {
  background-color: #262730;
  border-radius: 10.53px;
  height: 666px;
  overflow: hidden;
  position: relative;
}

.to-export .group-9 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 1306px;
}

.to-export .label-presets-7 {
  color: #ffffff;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 18.6px;
  font-weight: 700;
  height: 18px;
  left: 19px;
  letter-spacing: 0;
  line-height: 17.6px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.to-export .group-10 {
  height: 13px;
  left: 16px;
  position: absolute;
  top: 35px;
  width: 1008px;
}

.to-export .label-presets-wrapper {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.to-export .label-presets-8 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.to-export .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  gap: 17.55px;
  left: 190px;
  position: absolute;
  top: 0;
}

.to-export .frame-5 {
  height: 13.16px;
  position: relative;
  width: 101.79px;
}

.to-export .label-presets-9 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.to-export .label-presets-10 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.to-export .label-presets-11 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.to-export .label-presets-12 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.to-export .label-presets-13 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.to-export .label-presets-14 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 59px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.to-export .label-presets-15 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 13px;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: -1px;
}

.to-export .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 61px;
}

.to-export .group-11 {
  height: 27px;
  margin-right: -16px;
  position: relative;
  width: 1320px;
}

.to-export .p {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 16px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-16 {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 206px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-17 {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 397px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-18 {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 503px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-19 {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 630px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-20 {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 722px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-21 {
  color: #d4fae5;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 880px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-22 {
  color: #959090;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 600;
  height: 18px;
  left: 963px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.to-export .group-12 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-15@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 1144px;
}

.to-export .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 171px;
}

.to-export .group-13 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-14@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 201px;
}

.to-export .group-14 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-13@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 231px;
}

.to-export .group-15 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-12@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 261px;
}

.to-export .group-16 {
  height: 23.69px;
  margin-right: -16px;
  position: relative;
  width: 1160.26px;
}

.to-export .group-17 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-11@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .img {
  height: 1px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 1144px;
}

.to-export .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 290px;
}

.to-export .group-18 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-10@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 320px;
}

.to-export .group-19 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-9@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 350px;
}

.to-export .group-20 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-8@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 380px;
}

.to-export .group-21 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-7@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 410px;
}

.to-export .group-22 {
  height: 27.01px;
  margin-right: -16px;
  position: relative;
  width: 1320px;
}

.to-export .group-23 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-6@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-16 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 440px;
}

.to-export .group-24 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-5@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-17 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 469px;
}

.to-export .group-25 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 499px;
}

.to-export .group-26 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-3@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 529px;
}

.to-export .group-27 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-20 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 559px;
}

.to-export .group-28 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .frame-21 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 6.14px;
  left: 0;
  position: absolute;
  top: 589px;
}

.to-export .group-29 {
  background-image: url(https://c.animaapp.com/f8T27h7p/img/image-11@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 14px;
  left: 1114px;
  position: absolute;
  top: 2px;
  width: 14px;
}

.to-export .group-30 {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 18px;
  width: 229px;
}

.to-export .label-presets-23 {
  color: #f9f9f9;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 700;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-24 {
  color: #f9f9f9;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 18px;
  left: 90px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.to-export .label-presets-25 {
  color: #f9f9f9;
  font-family: "Source Sans Pro", Helvetica;
  font-size: 10.5px;
  font-weight: 400;
  height: 18px;
  left: 192px;
  letter-spacing: 0;
  line-height: 17.3px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.to-export .line-2 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 54px;
  width: 1144px;
}

.to-export .group-31 {
  height: 18px;
  left: 1079px;
  position: absolute;
  top: 631px;
  width: 49px;
}

.to-export .chevrons-right-wrapper {
  background-color: #3a3a3a;
  border-radius: 7.02px;
  height: 18px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 23px;
}

.to-export .chevrons-right {
  height: 14px !important;
  left: 4px !important;
  position: absolute !important;
  top: 2px !important;
  width: 14px !important;
}

.to-export .overlap-2 {
  border-radius: 7.02px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 23px;
}

.to-export .rectangle-2 {
  background-color: #3a3a3a;
  border-radius: 7.02px;
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 23px;
}
